<script setup lang="ts">
import { ref } from "vue";
import { storeToRefs } from "pinia";
import { Entity, Query } from "tick-knock";
import { useEcsStore } from "@/stores/ecsStore";
import { Room } from "@/ecs/components/room";
import { Prose } from "@/ecs/components/prose";
import { Location } from "@/ecs/components/location";
import { Item } from "@/ecs/components/item";
import { Damage } from "@/ecs/components/damage";
import TitleUI from "@/components/common/TitleUI.vue";
import ProseUI from "@/components/common/ProseUI.vue";

const { player, currentLocation } = storeToRefs(useEcsStore());
const itemsQuery = new Query((entity: Entity) => {
  return entity.hasAll(Item, Location) && entity.get(Location)?.locationID === currentLocation.value?.get(Room)?.id;
});
useEcsStore().addQuery(itemsQuery);
const items = ref(itemsQuery.entities);

function onClickText(event: MouseEvent) {
  const element = event.target as HTMLElement;
  if (element.id.startsWith("link_")) {
    onRoomChange(element.id.replace("link_", ""));
  }
  if (element.id.startsWith("action_")) {
    onAction(element.id.replace("action_", ""));
  }
}

function onRoomChange(newLocationID: string) {
  // Update player location
  useEcsStore().player.add(new Location(newLocationID));
  // Reset items query
  useEcsStore().removeQuery(itemsQuery);
  useEcsStore().addQuery(itemsQuery);
  items.value = itemsQuery.entities;
  useEcsStore().update();
}

function onAction(type: string) {
  console.log("action of type", type);
  useEcsStore().player.append(new Damage(10));
  useEcsStore().update();
}
</script>

<template>
  <TitleUI :title="currentLocation?.get(Room)?.name" />
  <ProseUI :content="currentLocation?.get(Prose)?.content" @click="onClickText($event)" />
  <div v-if="items.length > 0" v-for="item in items">
    <p :key="'item_' +item.id">
      There is a <em>{{ item?.get(Item).name }}</em> in the room
    </p>
  </div>
</template>

<style lang="scss" scoped>
.room-dynamic {

}
</style>
