<script setup lang="ts">
const { content } = defineProps({
  content: String,
});
</script>

<template>
  <p class="prose" v-html="content" />
</template>

<style lang="scss" scoped>
.prose {

}
</style>
