<script setup lang="ts">
const { title } = defineProps({
  title: String,
});
</script>

<template>
  <h1 class="title">{{ title }}</h1>
</template>

<style lang="scss" scoped>
.title {
  margin: 0 20px 10px 20px;
  text-decoration: underline;
  text-underline-offset: 6px;
}
</style>
