html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

a {
  font-weight: bold;
  cursor: pointer;
  color: #e72e2e;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    color: orange;
  }
}
