<script setup lang="ts">
import { useEcsStore } from "@/stores/ecsStore";
import GameInterface from "@/modules/GameInterface/GameInterface.vue";
import GameVisual from "@/modules/GameVisual/GameVisual.vue";

useEcsStore().initializeEcs();
</script>

<template>
  <header />
  <main>
    <div class="app__ui">
      <GameInterface />
    </div>
    <div class="app__visual">
      <GameVisual />
    </div>
  </main>
</template>

<style lang="scss">
@import "assets/base";

.app {
  &__ui, &__visual {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  &__ui {
    z-index: 100;
    pointer-events: none;
  }

  &__visual {
    z-index: 0;
  }
}
</style>
