<script setup lang="ts">
import RoomDynamic from "@/components/RoomDynamic.vue";

</script>

<template>
  <div class="game-visual">
    <div class="game-visual__content">
      <RoomDynamic />
      <!--      <span>Player Location: {{ player?.get(Location)?.locationID }}</span><br><br>-->
      <!--      <p v-html="currentLocation?.get(common)?.content" @click.capture="onClick($event)" />-->
    </div>
  </div>
</template>

<style lang="scss" scoped>
.game-visual {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 92px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
  flex-wrap: wrap;

  &__content {
    width: 100%;
    height: 100%;
    color: white;
  }
}
</style>
