<script setup lang="ts">
import { useGeneralStore } from "@/stores/generalStore";
import { storeToRefs } from "pinia";
import { useEcsStore } from "@/stores/ecsStore";
import type { IWidget } from "@/stores/generalStore";
import { Health } from "@/ecs/components/health";
import DefaultWidget from "@/modules/GameInterface/Widgets/DefaultWidget.vue";
import PlayerWidget from "@/modules/GameInterface/Widgets/PlayerWidget.vue";

const widgets: Array<IWidget> = useGeneralStore().getWidgets;
const { player, currentLocation } = storeToRefs(useEcsStore());
</script>

<template>
  <div class="game-interface">
    <div class="game-interface__widgets">
      <PlayerWidget :healthValue="player?.get(Health)?.value" :healthMax="player?.get(Health)?.max" />
      <template
        v-for="(widget, index) in widgets"
        :key="`${widget.type}_${index}`"
      >
        <Component
          :is="widget.type"
          :data="widget.data"
        />
      </template>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.game-interface {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  &__widgets {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
</style>
