<script setup lang="ts">
import { useGeneralStore } from "@/stores/generalStore";

const props = defineProps({
  data: Number,
});
const store = useGeneralStore();
</script>

<template>
  <div class="default-widget">
    {{ data + store.getStuff }}
  </div>
</template>

<style lang="scss">
.default-widget {
  display: flex;
  flex-direction: column;
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid red;
  border-radius: 2px;
  color: red;
  align-items: center;
  justify-content: center;
}
</style>
