<script setup lang="ts">
const { healthValue, healthMax } = defineProps({
  healthValue: Number,
  healthMax: Number,
});
</script>

<template>
  <div class="default-widget player-widget">
    <div>{{ healthValue }}</div>
    <hr class="player-widget__separator" />
    <div>{{ healthMax }}</div>
  </div>
</template>

<style lang="scss" scoped>
.player-widget {
  &__separator {
    margin: 0;
    width: 80%;
    color: red;
  }
}
</style>
